<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Hassan AKAR{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a id="top_title" class="brand-logo center" href="#">Accueil</a>
                <ul class="left">
                    <li><a data-activates="slide-out" class="button-collapse" href="#"><i class="material-icons">menu</i></a></li>
                </ul>


            </div>
        </nav>
    </div>
</header>

<ul id="slide-out" class="side-nav fixed">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="images/image.jpg">
            </div>
            <a href="#!user"><img class="circle responsive-img" srcset="images/hassan.jpg"></a>
            <a href="#!name"><span class="white-text name">AKAR Hassan</span></a>
        </div>
    </li>
    <li><a href="#!" class="waves-effect"><i class="material-icons">home</i>Accueil</a></li>
    <li><a href="#!" class="waves-effect"><i class="material-icons">check_box</i>Projets</a></li>
    <li><a class="waves-effect" href="#!"><i class="material-icons">file_download</i>Curriculum Vitae </a></li>
</ul>





{% block body %}{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script>

        $(document).ready(function () {
            $(".btn").sideNav();
        });

        (function($){
            $(function(){

                $('.button-collapse').sideNav({
                        edge: 'left', // Choose the horizontal origin
                        closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                        draggable: true // Choose whether you can drag to open on touch screens
                    }
                );

            }); // end of document ready
        })(jQuery);

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


{% endblock %}
</body>
</html>
