<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Hassan AKAR{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<header>

        <nav class="top-nav">
            <div class="container">
                <a id="top_title" class="brand-logo center" href="#">Accueil</a>
                <ul class="left">
                    <li><a data-activates="slide-out" class="button-collapse" href="#"><i class="material-icons">menu</i></a></li>
                </ul>


            </div>
        </nav>
    <ul id="slide-out" class="side-nav fixed">
        <li>
            <div class="user-view" style="width: 300px;height:135px">
                <div class="background">
                    <a href="#"><img src="images/logo.jpg" alt="logo" class="img-responsive" width="300" height="135"></a>
                </div>
            </div>
        </li>
        <li><a href="#!" class="waves-effect"><i class="material-icons">home</i>Accueil</a></li>
        <li><a href="#!" class="waves-effect"><i class="material-icons">check_box</i>Projets</a></li>
        <li><a class="waves-effect" href="#!"><i class="material-icons">file_download</i>Curriculum Vitae </a></li>
    </ul>
</header>



<main>
    <div class="container">
        <div class="col s12">

            <div class="row">
                <h3 class="header">
                    <u>À propos</u>
                </h3>
                <br>
                <div class="card">
                    <div class="card-content">
                        <div style="text-align: center;">

                            <img src="images/hassan.jpg" alt="hassan.jpg" class="circle responsive-img" style="width:283px;height: 300px">
                        </div>
                        <p style="text-align: justify;">
                            Ideo urbs venerabilis post superbas efferatarum gentium cervices oppressas latasque leges fundamenta libertatis et retinacula sempiterna velut frugi parens et prudens et dives Caesaribus tamquam liberis suis regenda patrimonii iura permisit.

                            Alii summum decus in carruchis solito altioribus et ambitioso vestium cultu ponentes sudant sub ponderibus lacernarum, quas in collis insertas cingulis ipsis adnectunt nimia subtegminum tenuitate perflabiles, expandentes eas crebris agitationibus maximeque sinistra, ut longiores fimbriae tunicaeque perspicue luceant varietate liciorum effigiatae in species animalium multiformes.

                            Nec vox accusatoris ulla licet subditicii in his malorum quaerebatur acervis ut saltem specie tenus crimina praescriptis legum committerentur, quod aliquotiens fecere principes saevi: sed quicquid Caesaris implacabilitati sedisset, id velut fas iusque perpensum confestim urgebatur impleri.

                            Eminuit autem inter humilia supergressa iam impotentia fines mediocrium delictorum nefanda Clematii cuiusdam Alexandrini nobilis mors repentina; cuius socrus cum misceri sibi generum, flagrans eius amore, non im
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer style="height: 135px;background-color: #5eb5e0">
    <div class="container">

    </div>




</footer>


{% block body %}{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script>

        $(document).ready(function () {
            $(".btn").sideNav();
        });

        (function($){
            $(function(){

                $('.button-collapse').sideNav({
                        edge: 'left', // Choose the horizontal origin
                        closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                        draggable: true // Choose whether you can drag to open on touch screens
                    }
                );

            }); // end of document ready
        })(jQuery);

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


{% endblock %}
</body>
</html>
